<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>Theres Something Here</title>
  </head>
  <body>
    <div class="container">
      <div class="formCont">
        <div class="form">
          <form class="input" action="/results" method="post">
              <div class="row" action="post">
                  <input type="text" name="name" value="">
              </div>
              <div class="row">
                    <select name="dojoLocation" id="">Favorite Language
                        <option value="sfo">San Fransisco</option>
                        <option value="chi">Chicago</option>
                        <option value="sea">Seattle</option>
                        <option value="mil">Millewaukeeeee</option>
                    </select>
                </div>
                <div class="row">
                    <select name="favoriteLang" id="">Favorite Language
                        <option value="javascript">Javascript</option>
                        <option value="Python">Python</option>
                        <option value="c">C++</option>
                        <option value="pirate">Pirate</option>
                    </select>
                </div>
                <div class="row">
                    <input type="text" name="comments" value="">
                </div>
                <div class="row">
                    <button type="submit" name="button">Submit</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </body>
</html>
